* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

body {
    background-color: rgb(61, 58, 58);
    height: 100vh;  
    margin: 0 auto;  
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Asset', cursive;
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
    color: rgb(232, 198, 4);
}

h2 {
    font-family: 'Asset', cursive;
    font-size: 2.5em;
    text-align: center;
    margin: 2% 0;
    color: rgb(12, 233, 12);
}

#mainContent {
    display: none;
}

article {
    width: 100vh;
    display: grid;
    justify-content: center;
    grid-template-columns: 4fr;
    grid-template-rows: 1fr;
}

div {
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 4px double rgb(245, 245, 245);
    border-radius: 15px;
}

/*make backgrounds gradients?*/
#hank {
    grid-column-start: 1;
    background-color: rgb(139, 6, 139);
}

#deke {
    grid-column-start: 2;
    background-color: rgb(154, 205, 50);
}

#geneva {
    grid-column-start: 3;
    background-color: rgb(255, 99, 71);
}
#alex {
    grid-column-start: 4;
    background-color: rgb(255, 165, 0);
}

p {
    max-width: 300px;
    color: white;
    text-align: center;
    padding: 10px;
}

span {
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
}

/* Overlay */
.overlay {
    display: none;
    position: absolute;
    width: 100%;
    /* height: 100%; */
    /* padding: 100px;
    margin: 100px; */
    /* top: 0;
    left: 0; */
    z-index: 10;
}

.overlay-content > h2 {
    font-size: 3em;
}

.overlay-content{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 2%;
    color: rgb(226, 223, 223);
    width: 100%;
    background-color: rgb(233, 12, 12);
}

.overlay-content > p {
    font-size: 2em;
    line-height: 200%;
    padding: 1em;
}

.overlay-content > button {
    margin: 20px;
    display: block;
    padding: 20px;
    background-color: rgb(226, 223, 22);
    color: rgb(0, 0, 0);
    border: 2px double rgb(0, 0, 0);
    border-radius: 8px;
    font-size: 2em;
    font-weight: 700;
}

@media only screen and (max-width: 600px) {
    article {
        grid-template-columns: 2fr;
        grid-template-rows: 2fr;
    }
    #hank {
        grid-column-start: auto;
        grid-row-start: auto;
    }
    #deke {
        grid-column-start: 2;
        grid-row-start: 1;
    }
    #geneva {
        grid-column-start: 1;
        grid-row-start: 2;
    }
    #alex {
        grid-column-start: 2;
        grid-row-start: 2;
    }

    /* Media Query Overlay */
    .overlay-content > h2 {
        font-size: 2em;
    }
}