* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

body {
    background-color: rgb(61, 58, 58);
    height: 100vh;  
    margin: 0 auto;  
    font-size: 16px;
}

h1 {
    font-family: 'Asset', cursive;
    font-weight: 700;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
    /* color: rgb(232,4,22); */
    background: transparent;
    color: linear-gradient(90deg, rgba(232,4,22,1) 6%, rgba(29,253,226,0.9374124649859944) 50%, rgba(252,248,13,1) 100%);
}

h2 {
    font-family: 'Asset', cursive;
    text-align: center;
    margin: 1% 0;
}

#mainContent {
    display: none;
}

article {
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 1fr;
}

div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 4px double rgb(245, 245, 245);
    border-radius: 15px;
}

image {
    max-width: 200px;
}

/*make backgrounds gradients?*/
#hank {
    grid-column-start: 1;
    background-color: rgb(139, 6, 139);
}

#deke {
    grid-column-start: 2;
    background-color: yellowgreen;
}

#geneva {
    grid-column-start: 3;
    background-color: tomato;
}
#alex {
    grid-column-start: 4;
    background-color: orange;
}

p {
    max-width: 200px;
    color: white;
    text-align: center;
    padding: 10px;
}

span {
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
}

/* Overlay */
.overlay {
    display: none;
    position: fixed;
    padding: 100px;
    top: 0;
    left: 0;
    z-index: 10;
}

.overlay-content > h2 {
    font-size: 3em;
}

.overlay-content{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 2%;
    color: rgb(226, 223, 223);
    width: 100%;
    background-color: rgb(233, 12, 12);
}

.overlay-content > p {
    font-size: 2em;
    line-height: 200%;
    padding: 1em;
}

.overlay-content > button {
    margin: 20px;
    display: block;
    padding: 20px;
    background-color: rgb(226, 223, 22);
    color: rgb(0, 0, 0)
    border: 2px double rgb(0, 0, 0);
    border-radius: 8px;
    font-size: 2em;
    font-weight: 700;
}