* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

body {
    background-color: rgb(61, 58, 58);
    height: 100vh;  
    margin: 0 auto;  
}

h1 {
    font-family: 'Asset', cursive;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 2%;
    /* color: rgb(232,4,22); */
    background: transparent;
    color: linear-gradient(90deg, rgba(232,4,22,1) 6%, rgba(29,253,226,0.9374124649859944) 50%, rgba(252,248,13,1) 100%);
}

article {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    /* display: grid; */
    height: 100vh;
    margin: 0 auto;
    /* text-align: center; */
    /* grid-template-columns: auto;
    grid-template-rows: 2fr; */
}
/*  ROULETTE WHEEL SECTION BEGINS   */
#wheel {
    position: relative;
    border: 15px solid #9900FF;
    border-radius: 50%;
    background-color: black;
    overflow: hidden;
    width: 400px;
    height: 400px;
    box-shadow: 2px 2px 4px rgb(125, 248, 2);
}

#sp0 { 
    top: 0;
    left: 0;
    background-color: cornflowerblue;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}
#spoke32 {
    top: 0;
    left: 25%;
    background-color: chartreuse;
    clip-path: polygon(100% 0, 0 0, 0100%);
}
#spoke15 {
    top: 0;
    left: 25%;
    background-color: #FF0099;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
}
#spoke19 {
    top: 25%;
    left: 25%;
    background-color: chartreuse;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}
#spoke4 {
    top: 25%;
    left: 25%;
    background-color: #FF0099;
    clip-path: polygon(100% 100%, 00, 0 100%);
}
#spoke21 {
    top: 50%;
    left: 50%;
    background-color:chartreuse;
    clip-path: polygon(100% 100%, 100% 0, 0 100%);
}
#spoke2 {
    top: 50%;
    left: 50%;
    background-color: #FF0099;
    clip-path: polygon(0 100%, 100% 0, 0 0);
}
#spoke25 {
    top: 50%;
    left: 0;
    background-color: chartreuse;
    clip-path: polygon(0 100%, 100% 100%, 0 0);
}
#spoke17 {
    top: 50%;
    left: 0;
    background-color: #FF0099;
}
#spoke34 {
    top: 25%;
    left: 0;
    background-color: chartreuse;
}
#spoke6 {
    top: 25%;
    left: 0;
    background-color: #FF0099;

}
#spoke27 {
    background-color: chartreuse;

}
#spoke13{
    background-color: #FF0099;

}
#spoke26 {
    background-color: chartreuse;


}
#spoke11 {
    background-color: #FF0099;

}
#spoke30 {
    background-color: chartreuse;

}


.spoke {
    list-style-type: none;
    position: absolute;
    width: 50%;
    height: 50%;    
}

/* Betting Board Begins */
#numBoard {
    display: flex;
    flex-flow: row wrap;
    /* display: grid;
    grid-template-columns: 40px auto 40px;
    grid-template-rows: 120px 80px; */
    background-color: transparent;
    width: 585px;
    height: 210px;
}

#insideBets {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column-reverse wrap;
    width: 500px;
    height: 120px;
    grid-column: 2/span 1;
    grid-row: 0/span 1;
}
#sq0 {
    height: 120px;
    width: 40px;
    border-radius: 50px 0 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9D00FF;
}

#sq0 > p {
    transform: rotate(-90deg)
}

.square {
    /*flex is to center the numbers here*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: 1px solid black;
    transform: rotate(-90deg);
}

.neon-green {
    background-color: #00FF00;
}

.neon-orange {
    background-color: #FF6600;
}

.neon-cyan {
    background-color: #00FFFF;
}

.neon-pink {
    background-color: #FF00FF;
}

.neon-yellow {
    background-color: #FFFF00;
}

#outsideBets {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 585px;
    height: 80;
}

.outsideRec {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 160px;
    height: 40px;
}

.outsideSq {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 80px;
    height: 40px;
}

#space {
    border: none;
    background-color: transparent;
}

/* Betting Board Ends */

/* Display Info Div */
.displayInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

/* Winning Number */
.winningNumber {
    width: 200px;
    height: 200px;
    background: transparent;
    color: radial-gradient(circle, rgba(238,174,228,1) 0%, rgba(20,38,142,0.76590) 100%);
    color: rgb(9, 121, 173);
    font-family: 'Asset', cursive;
    font-size: 100px;
}

/* Current Bets, Previous Numbers and Total */
#currentBets {
    display: flex;
    height: 75px;
    width: 400px;
    justify-content: center;
}

#total {
    display: flex;
    height: 75px;
    width: 150px;
    padding-left: 10px;
    font-size: 25px;
    align-items: center;
}

#prevNumbers {
    display: flex;
    height: 75px;
    width: 300px;
    justify-content: center;
}

.displayNums {
    margin: 15px;
    font-weight: 700;
    border-radius: 15px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(84,253,29,0.9374124649859944) 63%, rgba(252,138,69,1) 100%);
    box-shadow: 2px 2px 4px rgb(125, 248, 2);
}

/* BUTTONS */
#spin {
    width: 100px;
    padding: 18px;
    border: 2px ridge white;
    border-radius: 15px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(84,253,29,0.9374124649859944) 63%, rgba(252,138,69,1) 100%);
    box-shadow: 2px 2px 4px rgb(125, 248, 2);
    font-weight: 700;
    font-size: 24px;
}

@media only screen and (max-width: 400px) {
    * {
        max-width: 85%;
    }
}

.chip {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid rgb(54, 13, 21);
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    color: white;
    font-size: 15px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    box-shadow: -2px 2px crimson;

}


