* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

body {
    background-color: rgb(61, 58, 58);
    height: 100vh;
    margin: 0 auto;
}

h1 {
    font-family: 'Asset', cursive;
    text-align: center;
    margin-top: 3%;
    margin-bottom: .5%;
    /* color: rgb(232,4,22); */
    background: transparent;
    color: linear-gradient(90deg, rgba(232, 4, 22, 1) 6%, rgba(29, 253, 226, 0.9374124649859944) 50%, rgba(252, 248, 13, 1) 100%);
}

article {
    /* max-width: 1000px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* display: grid; */
    height: 100vh;
    margin: 0;
    /* text-align: center; */
    /* grid-template-columns: auto;
    grid-template-rows: 2fr; */
}

/*  ROULETTE WHEEL SECTION BEGINS   */
img {
    /* display: block; */
    /* position: relative; */
    /* top: 0; */
    /* left: 0; */
    height: 400px;
    width: 400px;
}

.rotate {
    -webkit-animation: spin 10s linear infinite;
    -moz-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;
}

/* Keyframes */
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

/* End of Wheel */


/* Betting Board Begins */
#numBoard {
    display: flex;
    flex-flow: row wrap;
    background-color: transparent;
    width: 585px;
    height: 210px;
}

#insideBets {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column-reverse wrap;
    width: 500px;
    height: 120px;
}

#sq0 {
    height: 120px;
    width: 40px;
    border-radius: 50px 0 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(157, 0, 255);
}

#sq0>div {
    transform: rotate(-90deg)
}

.square {
    /*flex is to center the numbers here*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: 1px solid rgb(0, 0, 0);
    transform: rotate(-90deg);
    font-weight: 700;
}

.neon-green {
    background-color: rgb(0, 255, 0);
}

.neon-orange {
    background-color: rgb(255, 102, 0);
}

.neon-cyan {
    background-color: rgb(0, 255, 255);
}

.neon-pink {
    background-color: rgb(255, 0, 255);
}

.neon-yellow {
    background-color: rgb(255, 255, 0);
}

#outsideBets {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 585px;
    height: 80;
}

.outsideRec {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    width: 160px;
    height: 40px;
}

.outsideSq {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    width: 80px;
    height: 40px;
}

#space {
    border: none;
    background-color: transparent;
}

/* Betting Board Ends */

/* Display Info Div */
#displayBox {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

/* Winning Number */
#winningNumDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 125px;
    border-radius: 15px;
    margin: 20px;
}

.winningNumber {
    background: transparent;
    color: rgb(247, 6, 146);
    font-family: 'Asset', cursive;
    font-size: 100px;
}

/* Current Bets, Previous Numbers and Total */
#currentBets {
    display: flex;
    height: 75px;
    width: 300px;
    justify-content: center;
}

#total {
    display: flex;
    height: 75px;
    width: 150px;
    padding-left: 10px;
    font-size: 25px;
    align-items: center;
    background: rgb(235, 76, 118);
    background: linear-gradient(0deg, rgba(235, 76, 118, 1) 25%, rgba(183, 249, 69, 1) 88%);
}

#prevNumbers {
    display: flex;
    height: 75px;
    width: 300px;
    justify-content: center;
    background: rgb(232, 4, 22);
    background: linear-gradient(90deg, rgba(232, 4, 22, 1) 6%, rgba(29, 253, 226, 0.9374124649859944) 50%, rgba(252, 248, 13, 1) 100%);
}

.displayNums {
    margin: 15px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 15px;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(84, 253, 29, 0.9374124649859944) 63%, rgba(252, 138, 69, 1) 100%);
    box-shadow: 2px 2px 4px rgb(125, 248, 2);
}

/* BUTTONS */
#spin {
    width: 100px;
    padding: 18px;
    border: 2px ridge white;
    border-radius: 15px;
    background: rgb(244, 7, 207);
    background: radial-gradient(circle, rgba(244, 7, 207, 1) 0%, rgba(20, 142, 69, 0.7659) 100%);
    box-shadow: 2px 2px 4px rgb(125, 248, 2);
    font-weight: 700;
    font-size: 24px;
    -webkit-text-stroke: 1px rgb(145, 165, 33);
}

.chipStyle {
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid rgb(54, 13, 21);
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    color: white;
    font-size: 15px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    box-shadow: -2px 2px crimson;

}

.winMarkerStyle {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid rgb(54, 13, 21);
    background: rgb(129, 55, 136);
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px rgb(7, 7, 5);
    font-weight: 700;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    box-shadow: -2px 2px rgb(60, 50, 205);
}

.clear {
    display: none;
}



/* Media Queries */

@media only screen and (max-width: 575.9px) {
    h1 {
        margin: 0;
    }

    img {
        height: 300px;
        width: 300px;
    }
}


@media only screen and (max-width: 767.9) {}

@media only screen and (max-width: 991.9) {}

@media only screen and (min-width: 1200) {}

@media only screen and (min-width: 1600) {
    body {
        height: 1000px;
        overflow-x: hidden;
    }

}